@page "/chat"
@rendermode InteractiveServer

<div class="chat-container">
    <div class="chat-messages" id="chat-messages">
        @foreach (var message in messages)
        {
            <div class="message @(message.IsUser ? "user-message" : "bot-message")">
                @message.Content
            </div>
        }
        @if (isLoading)
        {
            <div class="typing-indicator">Le bot est en train d'écrire...</div>
        }
    </div>
    <div class="chat-input">
        <input @bind="userInput" @onkeyup="HandleKeyPress" placeholder="Tapez votre message..." />
        <button @onclick="SendMessage">Envoyer</button>
    </div>
</div>



